<li><a href="">home</a></li>
<hr>
{% for i in items %}
 <p>"name":{{i.name}}</p>
 <p>"sugar_g":{{i.sugar_g}}</p>
 <p>"fiber_g":{{i.fiber_g}}</p>
 <p>"serving_size_g":{{i.serving_size_g}}</p>
 <p>"sodium_mg":{{i.sodium_mg}}</p>
 <p>"potassium_mg":{{i.potassium_mg}}</p>
 <p>"fat_saturated_g":{{i.fat_saturated_g}}</p>
 <p>"fat_total_g":{{i.fat_total_g}}</p>
 <p>"fat_total_g":{{i.fat_total_g}}</p>
 <p>"calories":{{i.calories}}</p>
 <p>"cholesterol_mg":{{i.cholesterol_mg}}</p>
 <p>"protein_g":{{i.protein_g}}</p>
 <p>"carbohydrates_total_g":{{i.carbohydrates_total_g}}</p><hr>
{% endfor %}