<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Managment</title>
</head>
<body>
    <form action="" method="post">
       {% csrf_token %}
       <input type="text" name="name" placeholder="Name"><br>
       <input type="text" name="room_no" placeholder="Room No."><br>
       <input type="date" name="date" placeholder="Date"><br>
       <input type="text" name="rating" placeholder="Rating"><br>
       Will You Eat Today
       <input type="radio" id="html" name="eat" value="Yes">
       <label for="html">Yes</label>
       <input type="radio" id="css" name="eat" value="No">
       <label for="css">No</label><br>
        <input type="submit">
    </form>
    <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
</body>
</html>