{% extends 'base.html' %}
<!-- <li><a href="reg/register">Register</a></li> -->
{% block content %}
{% if user.is_authenticated %}
<li>hello,{{user.first_name}}</li>
<li><a href="accounts/logout">logout</a></li>
<li><a href="payment/pay">Donate now</a></li>
<li><a href="{%url 'index'%}">Calorie Calculator</a></li>
<li><a href="{%url 'foodmanage'%}">Food Manage</a></li>
{% else %}
<li><a href="accounts/register">Register</a></li>
<li><a href="accounts/login">login</a></li>
{% endif %}

<form action="" method="get">
    <input type="text" name="searchquery" placeholder="Enter Food to search nutrients">
    <button type="submit" value="search">Search</button>
</form>
<hr>
{% for i in items %}
 <p>"name":{{i.name}}</p>
 <p>"sugar_g":{{i.sugar_g}}</p>
 <p>"fiber_g":{{i.fiber_g}}</p>
 <p>"serving_size_g":{{i.serving_size_g}}</p>
 <p>"sodium_mg":{{i.sodium_mg}}</p>
 <p>"potassium_mg":{{i.potassium_mg}}</p>
 <p>"fat_saturated_g":{{i.fat_saturated_g}}</p>
 <p>"fat_total_g":{{i.fat_total_g}}</p>
 <p>"fat_total_g":{{i.fat_total_g}}</p>
 <p>"calories":{{i.calories}}</p>
 <p>"cholesterol_mg":{{i.cholesterol_mg}}</p>
 <p>"protein_g":{{i.protein_g}}</p>
 <p>"carbohydrates_total_g":{{i.carbohydrates_total_g}}</p><hr>
{% endfor %}

<form action="bmi" method="post">
    {% csrf_token %}
    Enter weight in kg : <input type="text" name="num1"> <br>
    Enter height in metre : <input type="text" name="num2"><br>
    <input type="submit">
</form>

{% endblock %}